# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
COMPANY ADDRESS: 92 Kingston Rd, Similar Companies: ECLIPS CORPORATION (UK) LIMITED (03167131)
Portsmouth PO2 7PA, United Kingdom SONAVISION LIMITED Company status: Active
Registration Number: 03167131 C. ATKINSON LIMITED Correspondence address: Blue Moon House, 92 Kingston Road, 
Website: http://eclips-uk.com
JOEY'S INNOVATIONS LTD. Portsmouth, Hants, PO2 7PA
Role ACTIVE Secretary
Appointed on: 4 March 1996
Nationality: United Kingdom
Occupation: Director
Transaction: MP615ZYZBEU3UXPYFY54
DATE: January 24, 2020
START TIME:: 01:25:22 PM
Reference No. : UID075995
****************************************************************************************** DTC END CODE ******************************************************************************************
1. Beneficiary Name: ECLIPS Corporation (UK) Ltd.
2. Company Address: 92 Kingston Road, Portsmouth, Hants, PO2 7PA
3. Company REG. NUMBER : 3167131
4. Represnted BY : David Paul Bamber
5. Passport No/Country: 209248783 / United King Dom
6. Date of Issue: 07/08/2008
7. Date of Expiry: 07/09/2018
8. Beneficiary BANK : HSBC BANK PLC LONDON
9. Beneficiary Bank Address: International Branch 60 Fenchurch Street London EC3M 4BA UNITED KINGDOM
10. Beneficiary Bank SWIFT : HBUKGB4B
11. Telex: 888 401
12. BANK NAME: HSBC BANK PLC LONDON
13. BANK ADDRESS: International Branch 60 Fenchurch Street London EC3M 4BA UNITED KINGDOM
14. SWIFT CODE: HBUKGB4B
15. TELEX: 888 401
16. ACCOUNT NAME: ECLIPS Corporation (UK) Ltd.
17. CCOUNT NUMBER: 69998520
18. IBAN: GB43HBUK40127669998520
19. BANK PHONE: +44 (0) 20 7991 8888
20. BANK FAX: +44 (0) 20 7992 4880
21. AMOUNT: : 27,045,002,111,000,900.00 USD
22. CURRENCY Currency USD - US Dollar Account – (BRANCH BIC – HBUKGB41CM1)
23. ACCOUNT SIGNATORY: David Paul Bamber
24. Account Number: 69998520
25. IBAN : GB43HBUK40127669998520
26. Beneficiary Account Name: ECLIPS Corporation (UK) Ltd.
27. Beneficiary Bank Officer: Mr. Stuart levey, Mr. Iain mackay
28. Beneficiary Bank Officer Tel: +44 (0) 20 7991 8888
29. Beneficiary Bank Officer FAX : +44 (0) 20 7992 4880
30. Beneficiary Bank Officer Email: stuart.levey@hsbc.com / iain.mackay@hsbc.com
31. UNIQUE Transaction Reference: MP615ZYZBEU3UXPYFY54
32. Security Code: TPR589170
33. Related Code: FSD682AO
34. NET Code : 529864
35. Following Access Code: FSP785K
36. SORT Code: 40-12-76
37. CUSIP : DMN628942
38. Screening Code: 540275-12
39. ISIN : BMG786761061
40. Command Code: 024-126-668
41. DTC : 114216
42. DTC/EC : 2462
43. Permit Arrival Money: MP615ZYZBEU3UXPYFY54 or 90001
44. WTS Server: VeriSign Global Registry Services BI.S2.H8800
45. Uwtr Password: 18DMN22GR-PS 6823
46. Settlement Code: DT191212
47. Screen Blocking Code: 253067819692
48. Common Code : 24126668
49. Inter Bank Screen Acc: 70475
50. Inter Bank ISIN : BMG786761061
51. LOGON DOMAIN : Header:BigIP
52. LOGON SERVER : 91.214.6.62
53. AMOUNT : 27,045,002,111,000,900.00 USD
54. CURRENCY : USD US Dollar Account
55. BRANCH BIC: HBUKGB41CM1
56. GLOBAL SERVER ID: 91.214.6.62
57. GLOBAL SERVER IP: 193.108.77.7
